# Wycena wybranych spółek giełdowych z wykorzystaniem 3 metod

## 1. Metoda oparta o zdyskontowane przepływy pieniężne (DCF)

Zdyskontowane przepływy pieniężne (ang. discounted cash flow, DCF) stanowią jedną z metod wykorzystywaną do wyceny inwestycji, spółki lub innych aktywów bazującą na podejściu rachunku wartości pieniądza w czasie. Polega na szacowaniu i dyskontowaniu wszystkich przyszłych przepływów pieniężnych w celu określenia ich wartości bieżącej. Poziom stopy dyskontowej jest kosztem kapitału i uwzględnia ocenę ryzyka dotyczącego przyszłych przepływów pieniężnych.

Metoda zdyskontowanych przepływów pieniężnych jest szeroko rozpowszechniona w dziedzinie analizy inwestycji finansowych, rozwoju rynku nieruchomości oraz zarządzania korporacyjnego.
Poniższe wyliczenia są oparte na tej metodzie i dostosowane do otoczenia rynkowego na podstawie własnego doświadczenia.

### 1.1 Wczytanie pliku z danymi wycenianych spółek

In [1]:
import pandas as pd

In [2]:
plik = pd.ExcelFile('Spółki do wyceny DCF.xlsx') #wczytanie pliku .xls
df = plik.parse() #zamiana tabeli excel na ramkę danych
df

,Spółka,Raport,Aktualny kurs,Liczba akcji [tys.],Średnie przepływy pieniężne [w tys. PLN],Zysk netto [%]
0,01C (01CYBATON),2020/Q4,7.86,12680,-2087,0.7560
1,06N (06MAGNA),2020/Q3,2.90,13922,19,2.2077
2,08N (08OCTAVA),2020/Q3,0.98,42787,-5021,0.8970
3,11B (11BIT),2020/Q3,530.00,2361,66391,1.2993
4,1AT (ATAL),2020/Q3,42.50,38715,-26997,0.2213
...,...,...,...,...,...,...
797,ZMT (ZAMET),2020/Q3,0.93,105920,9468,-1.5962
798,ZRE (ZREMB),2020/Q3,1.39,12600,372,0.4115
799,ZUE,2020/Q3,5.75,23030,12973,1.0449
800,ZUK (STAPORKOW),2020/Q3,3.92,6504,3862,0.6888
801,ZWC (ZYWIEC),2020/Q4,484.00,10271,-18724,-0.0277

### 1.2 Analiza zbioru danych

In [3]:
print ('Ilość spółek:',df.shape[0],'\n')
print ('Ilość atrybutów:',df.shape[1])

Ilość spółek: 802

Ilość atrybutów: 6

In [4]:
#Typy atrybutów
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Spółka                                    802 non-null    object
 1   Raport                                    798 non-null    object
 2   Aktualny kurs                             802 non-null    float64
 3   Liczba akcji [tys.]                       802 non-null    int64
 4   Średnie przepływy pieniężne [w tys. PLN]  802 non-null    int64
 5   Zysk netto [%]                            802 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 37.7+ KB

In [5]:
#Braki w danych
df.isnull().sum()

Spółka                                      0
Raport                                      4
Aktualny kurs                               0
Liczba akcji [tys.]                         0
Średnie przepływy pieniężne [w tys. PLN]    0
Zysk netto [%]                              0
dtype: int64

In [6]:
#Zamiana wartości NaN na 0
df.fillna(value=0, inplace=True)

In [7]:
#Sprawdzenie ilości duplikatów
df.duplicated().sum()

0

In [8]:
#Usunięcie duplikatów
if df.duplicated().sum()>0:
    df.drop_duplicates()

In [9]:
#Wskaźniki statystyczne
df.describe()

,Aktualny kurs,Liczba akcji [tys.],Średnie przepływy pieniężne [w tys. PLN],Zysk netto [%]
count,802.000000,8.020000e+02,8.020000e+02,802.000000
mean,36.285224,9.766234e+04,7.534325e+03,2.475536
std,287.568557,6.841703e+05,3.495392e+05,33.173591
min,0.010000,1.230000e+02,-4.959000e+06,-186.581500
25%,1.182500,5.191000e+03,-2.147500e+02,-0.580350
50%,4.410000,1.288100e+04,3.065000e+02,0.236250
75%,17.275000,4.002650e+04,4.910500e+03,0.979750
max,7820.000000,1.734064e+07,4.407000e+06,553.000000

### 1.2 Parametry badanej spółki

- Nazwa spółek

In [10]:
df['Spółka']

0      01C (01CYBATON)
1        06N (06MAGNA)
2       08N (08OCTAVA)
3          11B (11BIT)
4           1AT (ATAL)
            ...
797        ZMT (ZAMET)
798        ZRE (ZREMB)
799                ZUE
800    ZUK (STAPORKOW)
801       ZWC (ZYWIEC)
Name: Spółka, Length: 802, dtype: object

- Aktualna cena rynkowa

In [11]:
df['Aktualny kurs']

0        7.86
1        2.90
2        0.98
3      530.00
4       42.50
        ...
797      0.93
798      1.39
799      5.75
800      3.92
801    484.00
Name: Aktualny kurs, Length: 802, dtype: float64

- Liczba akcji

In [12]:
df['Liczba akcji [tys.]']

0       12680
1       13922
2       42787
3        2361
4       38715
        ...
797    105920
798     12600
799     23030
800      6504
801     10271
Name: Liczba akcji [tys.], Length: 802, dtype: int64

- Średnie przepływy pieniężne

In [13]:
df['Średnie przepływy pieniężne [w tys. PLN]']

0      -2087
1         19
2      -5021
3      66391
4     -26997
       ...
797     9468
798      372
799    12973
800     3862
801   -18724
Name: Średnie przepływy pieniężne [w tys. PLN], Length: 802, dtype: int64

- Zmiana zysku (w badanym okresie wzrostu)

In [14]:
df['Zysk netto [%]']

0      0.7560
1      2.2077
2      0.8970
3      1.2993
4      0.2213
        ...
797   -1.5962
798    0.4115
799    1.0449
800    0.6888
801   -0.0277
Name: Zysk netto [%], Length: 802, dtype: float64

- Zmiana zysku po badanym okresie (zakładany spadek o 50%, dodatkowe przepływy po okresie silnego wzrostu)

In [15]:
df['Zysk netto [%]']/2

0      0.37800
1      1.10385
2      0.44850
3      0.64965
4      0.11065
        ...
797   -0.79810
798    0.20575
799    0.52245
800    0.34440
801   -0.01385
Name: Zysk netto [%], Length: 802, dtype: float64

### 1.3 Parametry wyceny

- Ilość lat (bazowy okres inwestycji)

In [16]:
y=10

- Ilość dodatkowych lat (zakładany dodatkowy okres inwestycji)

In [17]:
ya=20

- Zdyskontowanie (przybliżona wartość, na podstawie kosztu kapitału)

In [18]:
d=0.1

### 1.4 Obliczenie DFCF

In [19]:
def przeplywy(dane):
    
    #Suma zdyskontowanych przepływów w bazowym okresie
    cf=0
    cfl=[0]
    dfcf=0
    dfcft=0
    dpcf=0
    dpcft=0
    
    for i in range(1,y+1):
        cf = dane['Średnie przepływy pieniężne [w tys. PLN]']*1000*(1+dane['Zysk netto [%]']/100)**i   #przepływy w kolejnych latach
        cfl.append(cf)     #dodanie przepływów do listy

        dfcf = cf/((1+d)**i) #zdyskontowane przepływy w kolejnych latach
        dfcft = dfcft+dfcf;  #suma zdyskontowanych przepływów
        
    
    #Suma zdyskontowanych przepływów po bazowym okresie
    
    for i in range(1,ya+1):
        pcf = cfl[y]*(1+(dane['Zysk netto [%]']/100)/2)**i  #przepływy w kolejnych latach zaczynając od końca badanego okresu, założony wzrost zysku o 50% mniejszy
  
        dpcf = pcf/((1+d)**(i+y))#zdyskontowane przepływy w kolejnych latach zaczynając od końca badanego okresu
        dpcft = dpcft+dpcf;      #suma zdyskontowanych przepływów     
            
    return round(dfcft+dpcft,2);


df['Suma zdyskontowanych przepływów DFCF+DPCF']='0'      
df['Suma zdyskontowanych przepływów DFCF+DPCF']=df.apply(przeplywy, axis=1)

In [20]:
df

,Spółka,Raport,Aktualny kurs,Liczba akcji [tys.],Średnie przepływy pieniężne [w tys. PLN],Zysk netto [%],Suma zdyskontowanych przepływów DFCF+DPCF
0,01C (01CYBATON),2020/Q4,7.86,12680,-2087,0.7560,-2.089116e+07
1,06N (06MAGNA),2020/Q3,2.90,13922,19,2.2077,2.140764e+05
2,08N (08OCTAVA),2020/Q3,0.98,42787,-5021,0.8970,-5.083286e+07
3,11B (11BIT),2020/Q3,530.00,2361,66391,1.2993,6.943434e+08
4,1AT (ATAL),2020/Q3,42.50,38715,-26997,0.2213,-2.589811e+08
...,...,...,...,...,...,...,...
797,ZMT (ZAMET),2020/Q3,0.93,105920,9468,-1.5962,7.890757e+07
798,ZRE (ZREMB),2020/Q3,1.39,12600,372,0.4115,3.622805e+06
799,ZUE,2020/Q3,5.75,23030,12973,1.0449,1.329128e+08
800,ZUK (STAPORKOW),2020/Q3,3.92,6504,3862,0.6888,3.845174e+07
801,ZWC (ZYWIEC),2020/Q4,484.00,10271,-18724,-0.0277,-1.761253e+08

### 1.5 Wycena spółki

- Wartość wewnętrzna na 1 akcje w całym okresie

In [21]:
def wartosc(dane):
    iv = dane['Suma zdyskontowanych przepływów DFCF+DPCF']/dane['Liczba akcji [tys.]']*1000
    return round(iv,2);
    
df['Wartość wewnętrzna na 1 akcje']='0'      
df['Wartość wewnętrzna na 1 akcje']=df.apply(wartosc, axis=1)    
df

,Spółka,Raport,Aktualny kurs,Liczba akcji [tys.],Średnie przepływy pieniężne [w tys. PLN],Zysk netto [%],Suma zdyskontowanych przepływów DFCF+DPCF,Wartość wewnętrzna na 1 akcje
0,01C (01CYBATON),2020/Q4,7.86,12680,-2087,0.7560,-2.089116e+07,-1.647568e+06
1,06N (06MAGNA),2020/Q3,2.90,13922,19,2.2077,2.140764e+05,1.537684e+04
2,08N (08OCTAVA),2020/Q3,0.98,42787,-5021,0.8970,-5.083286e+07,-1.188045e+06
3,11B (11BIT),2020/Q3,530.00,2361,66391,1.2993,6.943434e+08,2.940887e+08
4,1AT (ATAL),2020/Q3,42.50,38715,-26997,0.2213,-2.589811e+08,-6.689426e+06
...,...,...,...,...,...,...,...,...
797,ZMT (ZAMET),2020/Q3,0.93,105920,9468,-1.5962,7.890757e+07,7.449733e+05
798,ZRE (ZREMB),2020/Q3,1.39,12600,372,0.4115,3.622805e+06,2.875242e+05
799,ZUE,2020/Q3,5.75,23030,12973,1.0449,1.329128e+08,5.771292e+06
800,ZUK (STAPORKOW),2020/Q3,3.92,6504,3862,0.6888,3.845174e+07,5.912015e+06
801,ZWC (ZYWIEC),2020/Q4,484.00,10271,-18724,-0.0277,-1.761253e+08,-1.714783e+07

- Potencjał wzrostu wg DCF (akceptowalny poziom powyżej 100%)

In [22]:
def wzrost(dane):
    r = (dane['Wartość wewnętrzna na 1 akcje']-dane['Aktualny kurs'])/dane['Aktualny kurs']*100
    return round(r,2);
    
df['Potencjał wzrostu %']='0'      
df['Potencjał wzrostu %']=df.apply(wzrost, axis=1)    
df

,Spółka,Raport,Aktualny kurs,Liczba akcji [tys.],Średnie przepływy pieniężne [w tys. PLN],Zysk netto [%],Suma zdyskontowanych przepływów DFCF+DPCF,Wartość wewnętrzna na 1 akcje,Potencjał wzrostu %
0,01C (01CYBATON),2020/Q4,7.86,12680,-2087,0.7560,-2.089116e+07,-1.647568e+06,-2.096152e+07
1,06N (06MAGNA),2020/Q3,2.90,13922,19,2.2077,2.140764e+05,1.537684e+04,5.301359e+05
2,08N (08OCTAVA),2020/Q3,0.98,42787,-5021,0.8970,-5.083286e+07,-1.188045e+06,-1.212291e+08
3,11B (11BIT),2020/Q3,530.00,2361,66391,1.2993,6.943434e+08,2.940887e+08,5.548833e+07
4,1AT (ATAL),2020/Q3,42.50,38715,-26997,0.2213,-2.589811e+08,-6.689426e+06,-1.573992e+07
...,...,...,...,...,...,...,...,...,...
797,ZMT (ZAMET),2020/Q3,0.93,105920,9468,-1.5962,7.890757e+07,7.449733e+05,8.010456e+07
798,ZRE (ZREMB),2020/Q3,1.39,12600,372,0.4115,3.622805e+06,2.875242e+05,2.068509e+07
799,ZUE,2020/Q3,5.75,23030,12973,1.0449,1.329128e+08,5.771292e+06,1.003702e+08
800,ZUK (STAPORKOW),2020/Q3,3.92,6504,3862,0.6888,3.845174e+07,5.912015e+06,1.508166e+08
801,ZWC (ZYWIEC),2020/Q4,484.00,10271,-18724,-0.0277,-1.761253e+08,-1.714783e+07,-3.543040e+06

- Średnioroczny zwrot

In [23]:
def zwrot(dane):
    ar = ((1+dane['Potencjał wzrostu %']/100)**(1/(y+ya))-1)*100
    return ar;
    
df['Średnioroczny zwrot %']='0'      
df['Średnioroczny zwrot %']=df.apply(zwrot, axis=1)    
df

,Spółka,Raport,Aktualny kurs,Liczba akcji [tys.],Średnie przepływy pieniężne [w tys. PLN],Zysk netto [%],Suma zdyskontowanych przepływów DFCF+DPCF,Wartość wewnętrzna na 1 akcje,Potencjał wzrostu %,Średnioroczny zwrot %
0,01C (01CYBATON),2020/Q4,7.86,12680,-2087,0.7560,-2.089116e+07,-1.647568e+06,-2.096152e+07,49.621857+15.725891j
1,06N (06MAGNA),2020/Q3,2.90,13922,19,2.2077,2.140764e+05,1.537684e+04,5.301359e+05,33.091086+0.000000j
2,08N (08OCTAVA),2020/Q3,0.98,42787,-5021,0.8970,-5.083286e+07,-1.188045e+06,-1.212291e+08,58.635812+16.673296j
3,11B (11BIT),2020/Q3,530.00,2361,66391,1.2993,6.943434e+08,2.940887e+08,5.548833e+07,55.408016+0.000000j
4,1AT (ATAL),2020/Q3,42.50,38715,-26997,0.2213,-2.589811e+08,-6.689426e+06,-1.573992e+07,48.199821+15.576429j
...,...,...,...,...,...,...,...,...,...,...
797,ZMT (ZAMET),2020/Q3,0.93,105920,9468,-1.5962,7.890757e+07,7.449733e+05,8.010456e+07,57.321686+0.000000j
798,ZRE (ZREMB),2020/Q3,1.39,12600,372,0.4115,3.622805e+06,2.875242e+05,2.068509e+07,50.379506+0.000000j
799,ZUE,2020/Q3,5.75,23030,12973,1.0449,1.329128e+08,5.771292e+06,1.003702e+08,58.508847+0.000000j
800,ZUK (STAPORKOW),2020/Q3,3.92,6504,3862,0.6888,3.845174e+07,5.912015e+06,1.508166e+08,60.675002+0.000000j
801,ZWC (ZYWIEC),2020/Q4,484.00,10271,-18724,-0.0277,-1.761253e+08,-1.714783e+07,-3.543040e+06,41.013213+14.821086j

## 1.6 Podsumowanie wyników metody opartej o zdyskontowane przepływy pieniężne (DCF)

In [24]:
df[['Spółka','Aktualny kurs','Wartość wewnętrzna na 1 akcje','Potencjał wzrostu %','Średnioroczny zwrot %']]

,Spółka,Aktualny kurs,Wartość wewnętrzna na 1 akcje,Potencjał wzrostu %,Średnioroczny zwrot %
0,01C (01CYBATON),7.86,-1.647568e+06,-2.096152e+07,49.621857+15.725891j
1,06N (06MAGNA),2.90,1.537684e+04,5.301359e+05,33.091086+0.000000j
2,08N (08OCTAVA),0.98,-1.188045e+06,-1.212291e+08,58.635812+16.673296j
3,11B (11BIT),530.00,2.940887e+08,5.548833e+07,55.408016+0.000000j
4,1AT (ATAL),42.50,-6.689426e+06,-1.573992e+07,48.199821+15.576429j
...,...,...,...,...,...
797,ZMT (ZAMET),0.93,7.449733e+05,8.010456e+07,57.321686+0.000000j
798,ZRE (ZREMB),1.39,2.875242e+05,2.068509e+07,50.379506+0.000000j
799,ZUE,5.75,5.771292e+06,1.003702e+08,58.508847+0.000000j
800,ZUK (STAPORKOW),3.92,5.912015e+06,1.508166e+08,60.675002+0.000000j
801,ZWC (ZYWIEC),484.00,-1.714783e+07,-3.543040e+06,41.013213+14.821086j